{% extends "layout.html" %}

{% block content %}

<!-- CSS to style the dropdown -->
<style>
    /* Increase the font size and padding of the dropdown */
    select#commodity-dropdown {
        font-size: 16px;
        padding: 10px;
        width: 200px; 
    }
</style>

<div class="jumbotron">
    <h1>Commodity Viewer</h1>
    <p>
        This page displays the historical net (long minus short) positions of different traders in the food commodities market.
        These include Producer/Merchant/Processor/User, Swap Dealers, Managed Money, Other Reportables, and Nonreportable Positions.
        Not included are metals or energy commodities.
    </p>
    <p>The default commodity is Cotton, and other commodities can be viewed using the dropdown. The currently displayed commodity, plus the most recent data date, is included in the title of the graph.</p>
    <p>The data source is linked below, but all data is processed, compiled, and stored separately prior to display in the below graph.</p>
    <p><a href="https://www.cftc.gov/MarketReports/CommitmentsofTraders/HistoricalCompressed/index.htm" class="btn btn-primary btn-large" id="cftclink-button">Historical Compressed Data &raquo;</a></p>
</div>

<!-- Initialize dropdown options -->
<select id="commodity-dropdown">
    {% for key in keys %}
    <option value="{{ key }}">{{ key }}</option>
    {% endfor %}
</select>

<!-- Graph container -->
<div id="graph-container" style="height: 100vh"></div>

<!-- JavaScript to handle dropdown change and update the graph -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- JavaScript to handle dropdown change and update the graph -->
<script>
// Function to update the graph based on selected commodity
    function updateGraph(selectedCommodity) {
        $.ajax({
            type: 'POST',
            url: '/get_graph',
            data: { commodity: selectedCommodity },
            success: function (response) {
                var graphData = JSON.parse(response);
                Plotly.react('graph-container', graphData.data, graphData.layout);
            },
            error: function (xhr, status, error) {
                var errorMessage = xhr.responseJSON.error;
                var stackTrace = xhr.responseJSON.stack_trace;
                console.error('Error:', errorMessage);
                console.error('Stack Trace:', stackTrace);
            }
        });
}

// Event listener for dropdown change
document.getElementById('commodity-dropdown').addEventListener('change', function () {
    var selectedCommodity = this.value;
    updateGraph(selectedCommodity);
});

document.addEventListener('DOMContentLoaded', function () {
    updateGraph('{{ keys[0] }}');
});
</script>

{% endblock %}
